:root {
  --main-color: rgb(255, 123, 0);
}

html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(170deg, rgb(18, 18, 18) 5%, rgb(0, 0, 0));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

header {
  text-align: left;
  padding-left: 1rem;
  max-width: 100%;
}

header h1 {
  font-weight: 200;
  margin-bottom: 0.3rem;
}

h2 {
  padding-bottom: 1.5rem;
  margin: 0px;
}


.button-container {
  display: flex;
  gap: 10px;
  margin-top: 0;
}

.icon-button {
  background: none;
  border: 1px solid white;
  cursor: pointer;
  padding: 5px; 
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 8px; 
} 

.icon-button img {
  width: 100%;
  height: 100%;
  background: transparent;
  filter: brightness(0) invert(1);
}

.location-button {
  background: none;
  cursor: pointer;
  padding: 0px;
  width: 1.1rem;
  height: 1.1rem;
  border: none;
  border-radius: 8px;
  margin-left: 5px;
  line-height: 2rem;
}

.location-button img {
  width: 100%;
  height: 100%;
  background: transparent;
  filter: brightness(2) saturate(100%) invert(65%) sepia(100%) saturate(748%) hue-rotate(-1deg) brightness(100%) contrast(150%);
}

.location-container {
  display: flex;
  align-items: center;
}

.location-text {
  color: var(--main-color);
  font-size: 0.8rem;
  font-weight: 200;
  margin:0px;
  line-height: 1.5rem;
}


.icon-button:hover img {
  filter: brightness(2) saturate(100%) invert(65%) sepia(200%) saturate(748%) hue-rotate(-33deg) brightness(100%) contrast(150%);
}

#text {
  text-align: center;
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
}

#projects {
  padding: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

p {
  font-weight: 200;
  font-size: 1.4rem;
}

a {
  font-weight: 200;
  text-decoration: none;
  color: var(--main-color);
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  max-width: 100%;
}

.textheader {
  font-weight: 200;
  font-size: 2.5rem;
  text-align: left;
}

.maintext{
  font-weight: 200;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 2rem;
}

.toggle-button {
  background: none;
  fill: var(--main-color);
  border: none;
  cursor: pointer;
  margin-left: 10px;
  padding: 0;
}

.toggle-button img {
  width: 1.5rem;
  height: 1.5rem;
  background: transparent;
  filter: brightness(0) invert(1);
}

.toggle-button:hover img {
  filter: brightness(2) saturate(100%) invert(65%) sepia(200%) saturate(748%) hue-rotate(-33deg) brightness(100%) contrast(150%);
}

.hover-grow {
  transition: transform 0.3s, color 0.3s;
  transform-origin: center;
}

.hover-grow:hover {
  transform: scale(1.25);
  color: var(--main-color);
}


@media (max-width: 768px) {
  header {
    text-align: center;
    padding-left: 0;
  }

  .button-container {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .button-container {
    margin-top: 0.5rem;
  }

  #intro {
    padding: 10px;
  }

  #projects {
    padding: 5px;
  }
}