:root {
  --main-color: rgb(255, 123, 0);
  --subtitle-color: rgb(118, 118, 118);
}

html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(170deg, rgb(38, 38, 38) 5%, rgb(0, 0, 0));
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}

body::-webkit-scrollbar {
  width: px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: rgb(20, 20, 20); 
  border-radius: 10px; 
}

body {
  scrollbar-width: thin; 
  scrollbar-color: black transparent; 
}

header {
  text-align: left;
  padding-left: 1rem;
  max-width: 100%;
}

header h1 {
  font-weight: 200;
  margin-bottom: 0.3rem;
}

h2 {
  padding-bottom: 2rem;
  margin: 0px;
}

h3 {
  padding-bottom: 0rem;
  max-width:auto;
  margin: 0px;
}

h4 {
  font-weight: 200;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-size: 0.7rem;
  color: rgb(121, 121, 121);
  line-height: 1rem;
}

p {
  font-weight: 200;
  font-size: 1.4rem;
}

.header-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.subtitle {
  font-size: 1.1rem;
  color: var(--subtitle-color);
}

.highlight {
  cursor: pointer;
  color: var(--main-color);
}

.linkButton {
  background: none;
  border: 1px solid white;
  cursor: pointer;
  padding: 5px; 
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 8px; 
  display: inline-flex;
  align-items: center; 
}

.linkButton img {
  width: 100%;
  height: 100%;
  background: transparent;
  filter: brightness(0) invert(1);
}

.linkButton:hover img {
  filter: brightness(2) saturate(100%) invert(65%) sepia(200%) saturate(748%) hue-rotate(-33deg) brightness(100%) contrast(150%);
}

#location {
  width: 1.1rem; 
  height: 1.1rem; 
  filter: brightness(2) saturate(100%) invert(65%) sepia(100%) saturate(748%) hue-rotate(-1deg) brightness(100%) contrast(150%);
}

#location-text {
  color: var(--main-color);
  font-size: 0.8rem;
  font-weight: 200;
  margin: -5px;
  line-height: 1.5rem;
}

#content {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}


.menu {
  display: flex;
  width: 100%;
  max-width: 800px;
  gap: 20px;
}

section {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
}

#intro {
  width: auto;
}

#resume img{
  width: 1.2rem;
  height: 1.2rem;
  background: transparent;
  filter: brightness(0) invert(1);
}

#resume:hover img {
  filter: brightness(2) saturate(100%) invert(65%) sepia(200%) saturate(748%) hue-rotate(-33deg) brightness(100%) contrast(150%);
}

.resumeDownload {
  font-weight: 200;
  text-decoration: none;
  color: white;
}

#download {
  margin-left: 5px;
}

.link {
  font-weight: 200;
  text-decoration: none;
  color: var(--main-color);
}

.sectionHeader {
  flex: 1 1 calc(20% - 20px);
  font-weight: 200;
  font-size: 2.5rem;
  text-align: left;
  color: white;
  display: inline-block;
  padding-bottom: 0;
  position: relative;
}

.sectionHeader::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 0;
  height: 2px;
  border-radius: 5px;
  background-color: var(--main-color);
  transition: width 0.5s ease-in-out; 
}

.active {
  color: var(--main-color);
}

.active::after {
  width: 50%;
}

.title{
  font-weight: 200;
  font-size: 3rem;
  text-align: left;
  margin-bottom: 2rem;
  width: 100%
}

.hover-effect {
  transition: color 0.2s;
  cursor: pointer;
}

.hover-effect:hover {
  color: var(--main-color);
}

.displayedContent {
  width: 100%;
  margin-top: 20px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.menu-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
}

.displayedContent.fade-in {
  opacity: 1;
}

.displayedContent.fade-out {
  opacity: 0;
}

.custom-datatable {
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

form label {
  display: block;
  font-weight: 200;
  font-size: 1rem;
  color: white;
  margin-bottom: 5px;
  margin-left: 10px;
}

form input,
form textarea {
  background: linear-gradient(to top, rgba(144, 144, 144, 0), rgba(255, 255, 255, 0.05));
  border: 1px solid rgba(121, 121, 121, 0.328);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  font-size: 1.2rem;
  font-weight: 200;
  font-family:inherit;
}

form input[type="text"],
form input[type="email"] {
  width: 100%;
  border-radius: 20px;
  height: 30px;
}

form .form-group {
  flex: 1 1 40%;
  min-width: 180px;
}

form .form-group:first-child {
  margin-right: 20px;
}

form .form-group-full {
  flex: 1 1 100%;
}

form .form-group-full textarea {
  height: 20rem;
  resize: none; 
}

form .submit-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form input[type="submit"] {
  width: 300px;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 100;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

form input[type="submit"]:hover {
  transform: scale(1.05);
  background: var(--main-color);
}

.error-message {
  color: white;
  width: 200px;
  border: 1px solid #f24d4d61;
  justify-content: center;
  font-weight: 200;
  border-radius: 20px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  margin-top: 10px;
  animation: fadeIn 0.5s ease-in-out;
  text-align: center;
  box-shadow: 0 0 5px #f24d4d3c;
}

#failure {
  border: 1px solid #f24d4d61;
  box-shadow: 0 0 5px #f24d4d3c;
}

#success {
  border: 1px solid #4df26061;
  box-shadow: 0 0 5px #4df26061;
}

.error-message.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}

.resume {
  width: 100%;
  height: auto;
  min-height: 100vh;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  max-width: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(10px);
  }
}

@media (max-width: 820px) {
  header {
    text-align: center;
    padding-left: 0;
  }

  .header-icons {
    justify-content: center;
  }

  .title {
    text-align: center;
  }

  .horizontal-sections {
    flex-direction: column;
    align-items: center;
  }

  form {
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .sectionHeader {
    font-size: 1.8rem;
  }
}

@media (max-width: 600px) {
  .sectionHeader {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .sectionHeader {
    font-size: 1.2rem;
  }
}

@media (max-width: 420px) {
  .sectionHeader {
    font-size: 1rem;
  }
  .menu {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}